.board-link-color{
    background-color:
    #091931;
    border-radius: 16px;
  }
  .board-link-color .icons_sidebar{
    fill:white;
  }
  .header-board{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .all-boards{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .content{
    padding:40px;
  }
  .board-part-div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .name-of-board-add{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width:15vW;
  }
  h2{
    font-size:20px;
    font-weight: 700;
    flex:1;
  }
  .one-task-div{
    height:250px;
    width:250px;
    border-radius: 24px;
    background-color: bisque;
  }