.header-board > h1 {
  font-size: 61px;
}

.search-container {
  display: flex;
  align-items: center;
  border: solid 1px #A8A8A8;
  border-radius: 10px;
  padding: 4px 8px;
  background-color: #ffffff;
  gap: 8px;

}
.search-bar {
  height: 40px;
  border: unset;
  outline: none;
  width:  312px;
}

.seperator {
    height: 32px;
    width: 1px;
    background-color: #D1D1D1;
}

.header-board button{
  height: 48px;
  border: unset;
  border-radius: 10px;
  background-color:  #2A3647;
  color: white;
  font-size: 21px;
  font-weight: 500  ;
}

.input-and-button {
  display: flex;
  gap: 32px;
}

.name-of-board-add h2 {
  font-size: 24px;
}

.no-task-available {
  background-color:#E7E7E7 ;
  width:100%;
  height:100px;
  border-radius: 10px;
  text-align: center;
  padding: 42px 0;
  border: 1px #A8A8A8 dashed;
}


.board-link-color{
    background-color:
    #091931;
    border-radius: 16px;
  }
  .board-link-color .icons_sidebar{
    fill:white;
  }
  .header-board{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .all-boards{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    }
  .content{
    padding:40px;
  }
  .board-part-div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap:16px;
  }
  .name-of-board-add{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width:15vW;
  }
  h2{
    font-size:20px;
    font-weight: 700;
    flex:1;
  }
  .one-task-div{
    height:150px;
    width:100%;
    border-radius: 24px;
    background-color: bisque;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  }
  .initals-div-in-task{
    width:40px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .assigned-persons-initals{
    display:flex;
    align-items: center;
    gap:-6px;
  }
  .category-div{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .category-div-child{
    border-radius: 24px;
    padding:4px;
  }
  .load-subtask{
    background-color: blue;
    width:50%;
    height:2px;
  }
  .load-subtask-div{
    width:50%;
    height:2px;
    background-color: white;
  }
  .board-content{
    background-color: ;
    min-height: 60vh;
    min-width:20vW;
    border:solid 1px red;
  }
  .drag-area-highlight{
    background-color: rgb(247, 245, 242);
  }
.plus-svg:hover path {
    stroke: rgb(138, 213, 235); /* Ändert die Rahmenfarbe beim Hover */
}
.plus-svg:hover rect {
  stroke: rgb(138, 213, 235); /* Ändert die Rahmenfarbe beim Hover */
}

.input-and-button{
  display:flex;
  align-items: center;
}