.header-board>h1 {
  font-size: 61px;
}

.search-container {
  display: flex;
  align-items: center;
  border: solid 1px #A8A8A8;
  border-radius: 10px;
  padding: 4px 8px;
  background-color: #ffffff;
  gap: 8px;

}

.search-bar {
  height: 40px;
  border: unset;
  outline: none;
  width: 312px;
}

.seperator {
  height: 32px;
  width: 1px;
  background-color: #D1D1D1;
}

.input-and-button button {
  height: 48px;
  border: unset;
  border-radius: 10px;
  background-color: #2A3647;
  color: white;
  font-size: 21px;
  font-weight: 500;
}

.input-and-button {
  display: flex;
  gap: 32px;
}

.name-of-board-add h2 {
  font-size: 24px;
}

.no-task-available {
  background-color: #E7E7E7;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  padding: 42px 0;
  border: 1px #A8A8A8 dashed;
}


.board-link-color {
  background-color:
    #091931;
  border-radius: 16px;
}

.board-link-color .icons_sidebar {
  fill: white;
}

.header-board {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.all-boards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}

.content {
  padding: 40px;
}

.board-part-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.name-of-board-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 15vW;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  flex: 1;
}

/* Tasks Cards */

.one-task-div {
  width: 252px;
  border-radius: 24px;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.initals-div-in-task:nth-of-type(1) {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 1px white;
}

.initals-div-in-task:nth-of-type(n+2){
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 1px white;
  margin-left: -10px;
}

.assigned-persons-initals {
display: flex;
align-items: center;
}

.category-div {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 24px;
}

.task-headline {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  padding-bottom: 8px;
  cursor: pointer;
}

.task-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  padding-bottom: 24px;
  overflow: hidden;
}


.category-div-child {
  font-size: 16px;
  border-radius: 8px;
  padding: 4px 16px;
}

.subtask-loadboard-and-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}


.load-subtask {
  background-color: blue;
  width: 128px;
  height: 8px;
  border-radius: 8px;
}

.load-subtask-div {
  background-color: #f4f4f4;
  width: 128px;
  height: 8px;
  border-radius: 8px;
}

.subtasks{
font-size: 12px;
font-weight: 400;
}

.assigned-and-priority{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.board-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  min-height: 60vh;
  min-width: 16vW;
}

.drag-area-highlight {
  background-color: rgb(242, 243, 252);
  border: 2px dashed rgba(138, 212, 235, 0.5);
  border-radius: 24px;
}

.plus-svg:hover path {
  stroke: rgb(138, 213, 235);
  /* Ändert die Rahmenfarbe beim Hover */
}

.plus-svg:hover rect {
  stroke: rgb(138, 213, 235);
  /* Ändert die Rahmenfarbe beim Hover */
}

.input-and-button {
  display: flex;
  align-items: center;
}

.svgUrgentPrio {
  background-color: white;
  color: black;
  fill: #ff3d00;
}

.svgMediumPrio {
  background-color: white;
  color: black;
  fill: #ffa800;
}

.svgLowPrio {
  background-color: white;
  color: black;
  fill: #7ae229;
}
.add-task-big-button-responsive{
  display: none;
  height: 48px;
  border: unset;
  border-radius: 10px;
  background-color: #2A3647;
  color: white;
} 
.change-status-menu{
  border-radius: 10px;
  padding:4px;
  background-color: #fcf4f4;
  height:32px;
  width:20px;
  display:none;
  justify-content: center;
  align-items: center;
  z-index:30;
}
.change-status-menu:hover{
  background-color: #A8A8A8;
  cursor: pointer;
}
.toggle-content-change-status{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position:absolute;
  width:160px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fcf4f4;
}

.toggle-content-change-status button{
  width:140px;
  height:20px;
  border: none;
  text-align: left;
  background-color: #fcf4f4;
  border-radius: 10px;
}
.toggle-content-change-status button:hover{
  background-color: #A8A8A8;
  border-radius: 10px;
}

.add-task-overlay{
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-color: rgba(0,0,0,0.7);
  z-index:44;
  display:flex;
  justify-content: center;
  align-items: center;
}

.add-task-overlay-content {
  height: 90%;
  width: 512px;
  padding: 30px 30px;
  background-color: white;
  border-radius: 24px;
  z-index:46;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}

.headlineBoard{
  display: flex;
}