@media(max-width:800px){
  .edit-task-overlay-content{
      width:100%;
      min-height:100%;
      border-radius: unset;
      gap:16px;
  }
  .edit-task-overlay-edit{
      width:100%;
      height:100%;
      border-radius: unset;
      gap:16px;
  }
  .showDetailTaskOverlayTitle{
      font-size: 32px;
      font-weight: 700;
    }
  
  .showDetailTaskOverlayDescription{
      font-size: 16px;
      overflow-y: scroll;
      min-height: 80px;
    }
    .description-title textarea{
      font-size: 16px;
    }
    .form-edit-overlay{
      height:unset;
      gap: 16px;
    }
}