@media(max-width:544px){
  .edit-task-overlay-content{
      width:100%;
      min-height:100%;
      border-radius: unset;
      gap:16px;
  }
  .edit-task-overlay-edit{
      width:100%;
      height:100%;
      border-radius: unset;
      gap:16px;
  }
  .showDetailTaskOverlayTitle{
      font-size: 32px;
      font-weight: 700;
      overflow-wrap: break-word;
  }
    .description-title textarea{
      font-size: 16px;
    }
    .form-edit-overlay{
      height:unset;
      gap: 16px;
    }
    .showDetailTaskOverlayDescription{
        font-size: 16px;
        overflow-wrap: break-word;
      }
      .delete-or-edit-task-buttons{
        justify-content: center;
      }
}
@media(max-height:700px){
  .showDetailTaskOverlayTitle{
    font-size:40px;
  }
  .edit-task-overlay-edit{
    width:90vW;
  }
  .task-title input{
    width:100%;
  }
  .description-title textarea{
    width:100%;
  }
  .edit-task-overlay-content{
    width:90vW;
  } 
}