*{
  box-sizing: border-box;
}
.edit-task-overlay{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(0,0,0,0.7);
    z-index:44;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .edit-task-overlay-content{
    height: 90%;
    padding: 30px 30px;
    background-color: white;
    border-radius: 24px;
    z-index:46;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
  }

  .showDetailTaskOverlayCategory{
    padding: 4px 24px;
    border-radius: 8px;
  }

  showDetailTaskOverlayTitle{
    font-size: 61px;
    font-weight: 700;
  }

  .showDetailTaskOverlayDescription{
    font-size: 20px;
    font-weight: 400;
    padding-bottom:24px;

  }
  .showDetailTaskOverlayAssignedTo{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  .overlay-initals-parent{
    display:flex;
    align-items: center;
    gap: 16px;
}

.showDetailTaskOverlayAssignedToChild{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

  .showDetailTaskOverlayDate{
    display: flex;
    gap: 16px;
    width: 100%;
    padding-bottom: 24px;
  }

  .showDetailTaskOverlayPriority{
    display: flex;
    gap: 16px;
    width: 100%;
    padding-bottom: 24px;
  }
  .edit-task-overlay-edit{
    height:80vh;
    width:40vW;
    background-color: white;
    border-radius: 24px;
    z-index: 46;
    /* opacity: 0.9; */
    display: flex;
    flex-direction: unset;
  }
  .form-edit-overlay{
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

.subtask-and-checkbox{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding:8px;
}
.delete-or-edit-task-buttons{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap:16px;
}

.delete-task-button , .edit-task-button{
  display: flex;
  align-items: center;
  gap: 8px;
}
.delete-or-edit-task-buttons div:hover{
   cursor: pointer;
}
.task-category-and-close-button{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
/* Overlay überschrift */
h3{
    font-size: 61px;
    font-weight: 700;
}
h4{
    font-size: 20px;
}
.prio-content {
    display: flex;
    gap: 16px;
    min-width: 440px;
    width: 100%;
  }
  
  .prio-content a {
    text-decoration: none;
    color: black;
    height: 56px;
    width: 100%;
    padding: 16px 10px 16px 10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .prio-content-parent {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
  }
  .urgentPrio {
    background-color: white;
    color: black;
    fill: #ff3d00;
  }
  
  .urgentPrio:hover {
    box-shadow:  0px 3px 3px 1px #00000061;
  }
  
  .urgentPrio_click {
    background-color: #ff3d00 !important;
    color: white !important;
    fill: white;
    stroke: white;
  }
  .svgUrgentPrio {
    color: rgb(255, 255, 255);
  }
  
  .mediumPrio {
    background-color: white;
    color: black;
    fill: #ffa800;
    stroke: #ffa800;
  }
  
  .mediumPrio:hover {
    box-shadow:  0px 3px 3px 1px #00000061;
  }
  
  
  .mediumPrio_click {
    background-color: #ffa800 !important;
    color: white !important;
    fill: white;
    stroke: white;
  }
  
  .svgMediumPrio {
    color: rgb(255, 255, 255);
  }
  
  .lowPrio {
    background-color: white;
    color: black;
    fill: #7ae229;
  }
  
  .lowPrio:hover {
    box-shadow:  0px 3px 3px 1px #00000061;
  }
  
  .lowPrio_click {
    background-color: #7ae229 !important; 
    color: white !important; 
    fill: white;
    stroke: white;
  }
  
  .svgLowPrio {
    color: rgb(255, 255, 255);
  }
  .one-person-div{
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  }
  .subtask-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .subtask-input {
    width: 100%;
    height: 48px;
    border: unset;
    border-radius: 10px 0 0 10px;
    border: 1px solid #d1d1d1;
    border-right: 0;
    margin-top: 4px;
    font-size: 16px;
    padding-left: 12px;
    outline: 0px;
  }
  
  .subtask-add-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    padding: 0 16px;
    border: 1px solid #d1d1d1;
    border-radius: 0 10px 10px 0;
    border-left: 0;
    margin-top: 4px;
  }
  .edit-one-subtask{
  border-radius: 12px;
  padding: 4px 12px 4px 18px;
  list-style-position: inside;
  }