.contacts-list{
    background-color: white;
    min-height: 100%;
    width: 30vW;
}
.contact-details{
    background-color: #f6f7f8;
    height:100%;
    flex: 1;
}
.contacts-content{
    width:100%;
    display:flex;
}
.add-contacts-button{
    position:sticky;
    width:80%;
    height:56px;
    border-radius: 10px;
    border:solid 1px;
    padding: 12px 0px;
}