.contacts-list{
    background-color: red;
    height:100%;
    width: 30px;
}
.contact-details{
    background-color: aqua;
    height:100%;
    width:30vw;
}
.content-contacts{
    width:70vW;
    height:100%;
}