.color1 {
    background-color: #FF5733; /* Leuchtendes Orange */
}

.color2 {
    background-color: #33FF57; /* Leuchtendes Grün */
}

.color3 {
    background-color: #3357FF; /* Leuchtendes Blau */
}

.color4 {
    background-color: #FF33A1; /* Leuchtendes Pink */
}

.color5 {
    background-color: #FFD700; /* Gold */
}

.color6 {
    background-color: #8A2BE2; /* Blauviolett */
}

.color7 {
    background-color: #00CED1; /* Dunkle Türkis */
}

.color8 {
    background-color: #FF6347; /* Tomatenrot */
}

.color9 {
    background-color: #4682B4; /* Stahlblau */
}

.color10 {
    background-color: #ADFF2F; /* Gelbgrün */
}

.color11 {
    background-color: #FF8C00; /* Dunkles Orange */
}

.color12 {
    background-color: #9400D3; /* Dunkles Violett */
}