.contact_details {
  display: flex;
  align-items: center;
}

.contact_details_H2 {
  font-size: 61px;
  margin: 5vw;
}

.contact_details_span {
  font-size: 26px;
  margin-left: 5vw;
}

.stroke {
  border-left: 3px solid #29abe2;
  height: 60px;
}

.profil_replacement_img_big {
  width: 120px;
  height: 120px;
  background-color: aquamarine;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_font_big {
  font-size: 46px;
  font-weight: 400;
  color: #000000;
}

.font_span {
  font-size: 20px;
  margin: 24px 0 32px 0;
}

.font_span_big {
  font-size: 14px;
  font-weight: bold;
}

.edit_delete_icon {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.margin_left {
  margin-left: 12px;
}

/* Aus den contacts.css kopirt 
die göße müsste noch an gepast werden*/
.one-contact-container {
  display: flex;
  padding: 16px 0 16px 0;
  align-items: center;
  margin-left: 16px;
}

.two-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.contact_link {
  font-size: 14px;
  font-weight: 400;
  color: #007cee;
}

.contact_font {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
