.datenschutzContent {
  display: flex;
  flex-direction: column;
  padding: 64px 38px 24px 38px;
  gap: 12px;
  max-width: 1980px;
  overflow-y: scroll;
}

h1 {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 32px;
}

a {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.currentPage {
  background-color: #091931;
}

@media (max-width: 1020px) {
  .datenschutzContent {
    overflow-y: scroll;
    height: 83vh;
    scrollbar-width: none;
  }
}

@media (max-width: 750px) {
  h1 {
    font-size: 42px;
  }
}

@media (max-width: 650px) {
  .datenschutzContent {
    width: 100vw;
  }
  h1{
    font-size:30px ;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .datenschutzContent {
    padding: 44px 20px 0px 20px;
  }
}

@media (max-height: 900px) {
  .datenschutzContent {
    height: 80vh;
  }
}

@media (max-height: 600px) {
  .datenschutzContent {
    height: 74vh;
  }
}

@media (max-height: 350px) {
  .datenschutzContent {
    height: 70vh;
  }
}