.impressumContent {
  display: flex;
  flex-direction: column;
  padding: 64px 38px 24px 38px;
  gap: 12px;
}

h1 {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 32px;
}

@media (max-width: 1020px) {
  .impressumContent {
    overflow-y: scroll;
    scrollbar-width: none;
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 42px;
  }
}

@media (max-height: 550px) {
  h1 {
    font-size: 38px;
  }
}