* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  font-weight: 400;
  font-size: 20px;
  font-family: "Inter";
  max-width: 1440px;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  padding-right: 10vw;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f6f7f8;
}

.sidebar {
  width: 232px;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px;
  background-color: #f6f7f8;
}

.sidebar_links a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidebar_links a:hover {
  background-color: aqua;
}

.sidebar_links {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar_bottom {
  height: 5vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.icons_sidebar {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.main {
  display: flex;
  min-height: 100vh;
}

.body_right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.help_initials {
  display: flex;
  align-items: center;
  width: 250px;
}

.content {
  background-color: #f6f7f8;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login_base {
  display: flex;
  background-color: white;
  width: 40vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.font_color {
  color: #a8a8a8;
  size: 16px;
  font-family: "Inter";
  margin-left: 5vw;
}

.not_user {
  width: 200px;
}

.button_blue {
  color: white;
  background-color: #2a3647;
  border: #2a3647;
  border-radius: 8px;
  width: 84px;
  height: 36px;
  cursor: pointer;
}

.button_blue:hover {
  background-color: #29abe2;
  border: #29abe2;
  box-shadow: 0px;
  box-shadow: 0px 4px 0px 0px #00000030;
}
