* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f6f7f8;
}

.main {
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 7vh;
  min-height: 60px;
  padding: 0px 40px;
  position: sticky;
  top: 0;
  box-shadow: 0.1px 0.5px 5px 1px rgb(0 0 0 / 30%);
  background: white;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 33;
}

.header-content {
  font-weight: 400;
  font-size: 20px;
  font-family: "Inter";
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.sidebar {
  background-color: #2a3647;
  width: 10vw;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px;
  min-width: 180px;
}

.join_Logo {
  height: auto;
}

.sidebar_top {
  z-index:10;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar_links a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 2% 10%;
  transition: background-color 125ms;
}

.sidebar_links a:hover {
  background-color: #324f7b;
  fill: white;
}

.sidebar_links a:hover .icons_sidebar {
  fill: white;
}

.sidebar_links {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.icons_sidebar {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  fill: #858688;
  transition: fill 125ms;
}

.icons_sidebar:hover {
  fill: white;
}

.sidebar_bottom a {
  text-decoration: none;
  color: #858688;
  transition: color 125ms;
}

.sidebar_bottom a:hover {
  color: white;
}

.sidebar_bottom {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.body_right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.circle {
  border-radius: 100%;
  border: solid 2px black;
  padding: 10px;
  display: flex;
  width: 56px;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #29abe2;
  font-weight: bold;
}

.circle:hover {
  background-color: #f6f7f8;
}

.help_initials {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 56px;
  width: 104px;
}

.help_img {
  width: 32px;
  height: 32px;
  transition: scale 125ms;
}

.help_img:hover {
  scale: 1.2;
}

.content {
  max-width: 1920px;
  background-color: #f6f7f8;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

button {
  cursor: pointer;
}

.sidebarLinks {
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.sidebar_mobile {
  background-color: #2a3647;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  display: none;
  position: sticky;
  bottom: 0;
  z-index: 33;
}

.sidebar_mobile_sector {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
}

.sidebar_mobile_sector:hover {
  background-color: #324f7b;
  border-radius: 16px;
}

.sidebar_mobile_sector:hover .icons_sidebar {
  background-color: #324f7b;
  border-radius: 16px;
  fill: white;
}

.sidebar_mobile_part {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_icon {
  display: none;
  height: 50px;
}

.backToLogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}

.backToLogin_tap {
  margin-bottom: 0;
}

.dropdown-menu-header-content {
  display: none;
  position: absolute;
  right: 35px;
  top: 68px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  min-width: 150px;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  border-radius: 20px;
}

.dropdown-menu-header-content a {
  color: #cdcdcd;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.dropdown-menu-header-content a:hover {
  background-color: rgba(42, 61, 89, 1);
  border-radius: 20px;
}
.pop-up-added {
  position: absolute;
  right: -100%;
  bottom: 14%;
  z-index: 40;
  height: 70px;
  width: 240px;
  background-color: #2a3647;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 20px;
  font-size: 12px;
  animation: slideIn 0.5s forwards; /* Apply animation */
}

.pop-up-added-w-svg {
  position: absolute;
  right: -100%;
  bottom: 14%;
  z-index: 40;
  height: 70px;
  width: 240px;
  background-color: #2a3647;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 20px;
  animation: slideIn 0.5s forwards; /* Apply animation */
}

/* Keyframes for animation */
@keyframes slideIn {
  from {
    right: -300px; /* Starting position */
  }
  to {
    right: 20px; /* End position */
  }
}

.pop-up-added-svg {
  color: white !important;
  fill: white !important;
  stroke: white !important;
}

.pop-up-added-svg path {
  color: white !important;
  fill: white !important;
  stroke: white !important;
}

@media (max-width: 1020px) {
  .sidebar {
    display: none;
  }
  .main {
    min-height: 90vh;
  }
  .icons_sidebar {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
  .help_img {
    display: none;
  }
  .header_font {
    display: none;
  }
  .header_icon {
    display: block;
  }
  .header {
    padding: 0px 20px;
  }
  .help_initials {
    width: auto;
  }
  .sidebar_mobile {
    display: flex;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .linkText {
    display: none;
  }
}

@media (max-height: 750px) {
  .sidebar_mobile {
    height: 10vh;
  }
  .icons_sidebar {
    height: 30px;
    width: 30px;
  }
}

@media (max-height: 600px) {
  .icons_sidebar {
    height: 30px;
  }
  .sidebar_mobile_part {
    flex-direction: row;
    font-size: 14px;
  }
  .sidebar_mobile_sector {
    width: 100%;
  }
  .form-style {
    height: 70vh;
  }
  .linkText {
    display: none;
  }
}

@media (max-height: 550px) {
  .icons_sidebar {
    height: 26px;
  }
  .form-style {
    height: 64vh;
  }
}

@media (max-height: 470px) {
  .form-style {
    height: 60vh;
  }
}

@media (max-width: 360px) {
  .sidebar_mobile_part {
    font-size: 12px;
  }
}

@media (max-height: 340px) {
  .sidebar_mobile {
    height: 33px;
  }
}
