* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f6f7f8;
}

.main {
  max-width: 1920px;
  width: 100%;
}
.header {
  width: 100%;
  height: 7vh;
  min-height: 60px;
  padding: 0px 40px;
  position: sticky;
  top: 0;
  box-shadow: 0.1px 0.5px 5px 1px rgb(0 0 0 / 30%);
  background: white;
  display: flex;
  justify-content: left;
  align-items: center;
}

.header-content {
  font-weight: 400;
  font-size: 20px;
  font-family: "Inter";
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.sidebar {
  background-color: #2a3647;
  width: 10vw;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px;
  min-width: 180px;
}

.join_Logo {
  height: auto;
}

.sidebar_top {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar_links a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 2% 10%;
  transition: background-color 125ms;
}

.sidebar_links a:hover {
  background-color: #324f7b;
  fill: white;
}

.sidebar_links a:hover .icons_sidebar {
  fill: white;
}

.sidebar_links {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.icons_sidebar {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  fill: #858688;
  transition: fill 125ms;
}

.icons_sidebar:hover {
  fill: white;
}

.sidebar_bottom a {
  text-decoration: none;
  color: #858688;
  transition: color 125ms;
}

.sidebar_bottom a:hover {
  color: white;
}

.sidebar_bottom {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main {
  display: flex;
  min-height: 100vh;
}

.body_right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.circle {
  border-radius: 100%;
  border: solid 2px black;
  padding: 10px;
  display: flex;
  width: 56px;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #29abe2;
  font-weight: bold;
}

.circle:hover {
  background-color: #f6f7f8;
}

.help_initials {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 56px;
  width: 104px;
}

.help_img {
  width: 32px;
  height: 32px;
  transition: scale 125ms;
}

.help_img:hover {
  scale: 1.2;
}

.content {
  background-color: #f6f7f8;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

button {
  cursor: pointer;
}

.sidebar_mobile {
  background-color: #2a3647;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  display: none;
  position: relative;
}

.sidebar_mobile_sector {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
}

.sidebar_mobile_sector:hover {
  background-color: #324f7b;
  border-radius: 16px;
}
.sidebar_mobile_sector:hover .icons_sidebar {
  background-color: #324f7b;
  border-radius: 16px;
  fill: white;
}

.sidebar_mobile_part {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_icon {
  display: none;
  height: 50px;
}

@media (max-width: 1020px) {
  .sidebar {
    display: none;
  }
  .main {
    min-height: 90vh;
  }
  .contact-details {
    height: 83vh;
  }
  .contact-list {
    height: 83vh;
  }
  .icons_sidebar {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
  .help_img {
    display: none;
  }
  .header_font {
    display: none;
  }
  .header_icon {
    display: block;
  }
  .header {
    padding: 0px 20px;
  }
  .help_initials {
    width: auto;
  }
  .sidebar_mobile {
    display: flex;
    width: 100%;
  }
}

@media (max-height: 750px) {
  .sidebar_mobile {
    height: 9vh;
  }
  .icons_sidebar {
    height: 30px;
    width: 30px;
  }
}

@media (max-height: 660px) {
  .sidebar_mobile {
    height: 8vh;
  }
}

@media (max-height: 600px) {
  .icons_sidebar {
    height: 30px;
  }
  .sidebar_mobile_part {
    flex-direction: row;
  }
  .sidebar_mobile_sector {
    width: 100%;
  }
}

@media (max-height: 520px) {
  .sidebar_mobile {
    height: 36px;
  }
  .contacts-list {
    height: 82vh;
  }
  .icons_sidebar {
    height: 26px;
  }
}

@media (max-height: 500px) {
  .contacts-list {
    height: 81vh;
  }
}

@media (max-height: 470px) {
  .contacts-list {
    height: 80vh;
  }
}

@media (max-height: 450px) {
  .contacts-list {
    height: 79vh;
  }
}

@media (max-height: 430px) {
  .contacts-list {
    height: 78vh;
  }
}

@media (max-height: 410px) {
  .contacts-list {
    height: 77vh;
  }
}

@media (max-height: 400px) {
  .contacts-list {
    height: 76vh;
  }
}

@media (max-height: 380px) {
  .contacts-list {
    height: 75vh;
  }
}

@media (max-height: 360px) {
  .contacts-list {
    height: 74vh;
  }
}

@media (max-width: 360px) {
  .sidebar_mobile_part {
    font-size: 12px;
  }
}

@media (max-height: 340px) {
  .contacts-list {
    height: 73vh;
  }
}

@media (max-height: 320px) {
  .contacts-list {
    height: 72vh;
  }
}
