.color1 {
  background-color: #ff5733; /* Leuchtendes Orange */
}

.color2 {
  background-color: #33ff57; /* Leuchtendes Grün */
}

.color3 {
  background-color: #3357ff; /* Leuchtendes Blau */
}

.color4 {
  background-color: #ff33a1; /* Leuchtendes Pink */
}

.color5 {
  background-color: #ffd700; /* Gold */
}

.color6 {
  background-color: #8a2be2; /* Blauviolett */
}

.color7 {
  background-color: #00ced1; /* Dunkle Türkis */
}

.color8 {
  background-color: #ff6347; /* Tomatenrot */
}

.color9 {
  background-color: #4682b4; /* Stahlblau */
}

.color10 {
  background-color: #adff2f; /* Gelbgrün */
}

.color11 {
  background-color: #ff8c00; /* Dunkles Orange */
}

.color12 {
  background-color: #9400d3; /* Dunkles Violett */
}
