.header {
  z-index: unset !important;
}

.contacts-list-desktop {
  background-color: white;
  height: 93vh;
  width: 30vw;
  min-width: 360px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #a8a8a8 #f6f7f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-details {
  background-color: #f6f7f8;
  height: 93vh;
  flex: 1;
}

.contact_details {
  display: flex;
  align-items: center;
  margin: 62px 0 24px 24px;
}

.contact_details_H2 {
  font-size: 62px;
}

.contact_details_span {
  font-size: 24px;
}

.stroke {
  margin: 0 18px 0 18px;
  height: 60px;
  width: 2px;
  background-color: #29abe2;
}

.contacts-content {
  width: 100%;
  display: flex;
}

.add-contacts-button {
  position: sticky;
  width: 80%;
  max-width: 350px;
  height: 56px;
  border-radius: 10px;
  border: solid 1px;
  padding: 12px 0px;
  background-color: #2a3647;
  color: white;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
}

.overlay-new-contact {
  max-width: 950px;
  max-height: 850px;
  width: 55%;
  height: 55%;
  background: white;
  position: fixed;
  top: 25vh;
  left: 25vw;
  right: 25vw;
  bottom: 25vh;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.input-new-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.one-contact-container {
  display: flex;
  padding: 16px 0 16px 16px;
  align-items: center;
  border-radius: 16px;
  gap: 12%;
  transition: background-color 125ms;
}

.one-contact-container:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.two-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.profil_replacement_img_big {
  background-color: burlywood;
  border-radius: 100%;
  border: solid #ffff;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  font-weight: 500;
  color: white;
}

.edit_delete_icon {
  display: flex;
  align-items: center;
}

.contact_font_big {
  font-size: 46px;
  font-weight: 500;
}

.margin_left {
  margin-left: 8px;
}

.font_span {
  font-size: 20px;
  margin: 24px 16px 24px 16px;
}

.margin_contact {
  margin: 16px;
}

.font_span_big {
  font-size: 16px;
  font-weight: 700;
}

.icon {
  width: 26px;
  object-fit: contain;
  margin-left: 12px;
}

.contact_font {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.contact_link {
  font-size: 14px;
  font-weight: 400;
  color: #007cee;
}

.profil_replacement_img {
  background-color: aquamarine;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add contact overlay */

.add-contact-container {
  display: flex;
  width: 100%;
}

.add-contact-left {
  width: 42%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  background-color: #2a3647;
  color: white;
  padding: 24px;
  padding-bottom: 112px;
  border-radius: 10px 0 0 10px;
}

.add-contact-left img {
  height: 66px;
  width: 55px;
}

.add-contact-left h2 {
  font-size: 61px;
  font-weight: 700;
}

.add-contact-left p,
span {
  font-size: 24px;
  font-weight: 400;
}

.add-contact-right {
  width: 58%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.add-contact-right-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.add-contact-right-left {
  display: flex;
}

.add-contact-form {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.input-field-name,
.input-field-mail,
.input-field-phone {
  width: 100%;
  height: 42px;
  border: solid 1px;
  border-radius: 10px;
  border-color: #d1d1d1;
  padding: 13px 40px 13px 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px);
}

.input-field-name {
  background-image: url(../../assets/icon-overlay-contact/person-little.svg);
}

.input-field-mail {
  background-image: url(../../assets/icon-overlay-contact/mail.svg);
}

.input-field-phone {
  background-image: url(../../assets/icon-overlay-contact/phone.svg);
}

.save-or-delete-buttons {
  display: flex;
  gap: 8px;
  width: 100%;
}

.delete-button,
.save-button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 8px;
}

.delete-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #d1d1d1;
  background-color: white;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #2a3647;
  color: white;
}

.cancel-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 1vw;
}

.cancel-button-over {
  display: none;
  width: 100%;
  padding-bottom: 24px;
}

.cancel-button-top {
  display: none;
  width: 100%;
  padding-bottom: 24px;
}

.icon-cancel {
  filter: contrast(0.1);
}

.cancel-button button {
  background-color: white;
  border: none;
}

.cancel-button-over button {
  background-color: white;
  border: none;
}

.cancel-button-top button {
  background-color: #2a3647;
  border: none;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #29abe2;
  text-underline-offset: 16px;
}
.group-initial-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 16px;
}

.add-contact-left p, span {
  font-size: 16px;
}
.group-initial {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.group-border {
  width: 100%;
  height: 0.1px;
  background-color: #f1f1f1;
}

.edit-delete-contact-button {
  border: none;
  background: none;
}

.go-back-to-contacts {
  display: none;
  border: none;
  background: none;
  margin-left: 8%;
}

.add-contacts-button-mobile {
  background-color: #2a3647;
  border-radius: 46px;
  width: 56px;
  height: 56px;
  position: fixed;
  bottom: 12vh;
  right: 4vw;
  display: none;
  padding: 12px;
  align-items: center;
  justify-content: center;
}

.icon-mobile {
  width: 32px;
  height: 32px;
}

.edit-or-delete-toggle-div {
  position: fixed;
  right: 16vw;
  bottom: 12vh;
  flex-direction: column;
  height: 100px;
  width: 116px;
  background: white;
  border-radius: 20px 20px 0px 20px;
  z-index: 2;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.edit-or-delete-toggle-div button {
  flex: 1;
  background: none;
  border: none;
}

.contacts-link-color {
  background-color: #091931;
  border-radius: 16px;
}
.contacts-link-color .icons_sidebar {
  fill: white;
}

.profil_replacement_img_big_edit {
  background-color: burlywood;
  border-radius: 100%;
  border: solid #ffff;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  font-weight: 500;
  color: white;
}

.pleaseTurnOnEdge {
  display: none;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.highlighted-p {
  background-color: #2a3647;
  display: flex;
  padding: 16px 0 16px 16px;
  align-items: center;
  border-radius: 16px;
  gap: 12%;
  transition: background-color 125ms;
}
.highlighted-name {
  color: white;
}
