/* Responsive Design */

@media (max-width: 1835px) {
  .add-contact-left h2 {
    font-size: 48px;
  }
  .add-contact-left p,
  span {
    font-size: 20px;
  }
}

@media (max-width: 1490px) {
  .add-contact-left h2 {
    font-size: 40px;
  }
  .add-contact-left p,
  span {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .add-contact-right {
    flex-direction: column;
    height: 100%;
  }
  .cancel-button {
    display: none;
  }
  .add-contact-left {
    text-align: center;
    align-items: center;
    gap: 24px;
  }
  .add-contact-left,
  .add-contact-right {
    width: 50%;
    padding: 8px;
  }
  .add-contact-left h2 {
    font-size: 40px;
  }
  .add-contact-right-right {
    width: 100%;
  }
  .save-or-delete-buttons {
    justify-content: center;
  }
  .input-new-contact {
    gap: 8px;
  }
}

@media (max-width: 1060px) {
  .contact_details_H2 {
    font-size: 48px;
  }
  .stroke {
    margin: 0px 12px 0 12px;
    height: 40px;
  }
  .contact_details_span {
    font-size: 20px;
  }
  .profil_replacement_img_big {
    width: 80px;
    height: 80px;
    font-size: 32px;
  }
  .contact_font_big {
    font-size: 32px;
  }
}

@media (max-width: 1020px) {
  .contacts-list {
    height: 83vh;
  }
}

@media (max-width: 980px) {
  .add-contact-container {
    display: flex;
    flex-direction: column;
  }
  .add-contact-left,
  .add-contact-right {
    width: 100%;
  }
  .add-contact-left-img {
    display: none;
  }
  .add-contact-left {
    height: 70%;
    text-align: left;
    align-items: flex-start;
    padding-bottom: 48px;
    padding-left: 16px;
    border-radius: 10px 10px 0 0;
  }

  .add-contact-right {
    padding-left: 16px;
    padding-right: 16px;
  }
  .profile-picture {
    margin-left: 0%;
    margin-top: -115%;
  }

  .overlay-new-contact {
    height: 78%;
    top: 10vh;
  }
}
@media(max-width:840px){
  .contact-details{
    display:none;
  }
  .contacts-list{
    width:100%;
  }
  .go-back-to-contacts{
    display:flex;
  }
}
@media (max-width: 360px) {
  .contacts-list {
    min-width: 300px;
  }
}