/* Responsive Design */

@media (max-width: 1835px) {
  .add-contact-left h2 {
    font-size: 48px;
  }
  .add-contact-left p,
  span {
    font-size: 20px;
  }
}

@media (max-width: 1490px) {
  .add-contact-left h2 {
    font-size: 40px;
  }
  .add-contact-left p,
  span {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .add-contact-right {
    flex-direction: column;
    height: 100%;
  }
  .cancel-button {
    display: none;
  }
  .cancel-button-over {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 2vw;
  }
  .add-contact-left {
    text-align: center;
    align-items: center;
    gap: 24px;
  }
  .add-contact-left,
  .add-contact-right {
    width: 50%;
    padding: 8px;
  }
  .add-contact-left h2 {
    font-size: 40px;
  }
  .add-contact-right-right {
    width: 100%;
  }
  .save-or-delete-buttons {
    justify-content: center;
  }
  .input-new-contact {
    gap: 8px;
  }
}

@media (max-width: 1120px) {
  .contact_details_H2 {
    font-size: 48px;
  }
  .stroke {
    margin: 0px 12px 0 12px;
    height: 40px;
  }
  .contact_details_span {
    font-size: 20px;
  }
  .profil_replacement_img_big {
    width: 80px;
    height: 80px;
    font-size: 32px;
  }
  .contact_font_big {
    font-size: 32px;
  }
  .one-contact-container {
    gap: 6%;
  }
}
@media (max-height: 1080px) {
  .profile-picture {
    height: 120px;
    top: -3vh;
  }
  .add-contact-left img {
    width: 40px;
  }
}

@media (max-width: 1020px) {
  .contacts-list-desktop {
    height: 83vh;
  }
  .one-contact-container {
    gap: 4%;
  }
  .contact-details {
    height: 83vh;
  }
  .contact-list {
    height: 83vh;
  }
}

@media (max-width: 980px) {
  .add-contact-container {
    display: flex;
    flex-direction: column;
  }
  .add-contact-left,
  .add-contact-right {
    width: 100%;
  }
  .add-contact-left-img {
    display: none;
  }
  .add-contact-left {
    height: 70%;
    text-align: left;
    align-items: flex-start;
    /* padding-bottom: 48px; */
    padding-left: 16px;
    border-radius: 10px 10px 0 0;
  }
  .add-contact-right {
    padding-left: 16px;
    padding-right: 16px;
  }
  .profile-picture {
    margin-left: 0%;
    margin-top: -115%;
    position: relative;
    top: -3vh;
  }
  .overlay-new-contact {
    height: 78%;
    top: 10vh;
    width: 75%;
    left: 12vw;
    right: 12vw;
  }
  .cancel-button-over {
    display: none;
  }
  .cancel-button-top {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0;
  }
}

@media (max-height: 940px) {
  .profile-picture {
    top: -1vh;
  }
}

@media (max-height: 900px) {
  .profile-picture {
    top: -2vh;
  }
  .add-contact-left {
    display: block;
  }
}

@media (max-height: 850px) {
  .profile-picture {
    top: 0vh;
  }
  .contacts-list-desktop {
    height: 82vh;
  }
  .cancel-button-over {
    padding-bottom: 0;
  }
  .contact-details {
    height: 82vh;
  }
}

@media (max-width: 840px) {
  .contact-details {
    display: none;
  }
  .contacts-list-desktop {
    width: 100%;
  }
  .go-back-to-contacts {
    display: flex;
  }
  .add-contacts-button {
    display: none;
  }
  .add-contacts-button-mobile {
    display: flex;
  }
  .edit_delete_icon {
    display: none;
  }
}

@media (max-height: 750px) {
  .profile-picture {
    top: 2vh;
  }
  .cancel-button-top {
    height: 40px;
  }
  .contacts-list-desktop {
    height: 81vh;
  }
  .add-contact-right {
    gap: 0;
  }
  .contact-details {
    height: 81vh;
  }
}

@media (max-height: 700px) {
  .contacts-list-desktop {
    height: 81vh;
  }
  .profile-picture {
    top: 4vh;
  }
}

@media (max-height: 670px) {
  .profile-picture {
    top: 4vh;
    height: 80px;
  }
  .contacts-list-desktop {
    height: 80vh;
  }
  .contact-details {
    height: 80vh;
  }
}

@media (max-width: 600px) {
  .overlay-new-contact {
    height: 100dvh;
    top: 0vh;
    bottom: 0vh;
    left: 0vw;
    right: 0vw;
    width: 100%;
    border-radius: 0px;
    max-height: 1500px;
  }
  .add-contact-left {
    border-radius: 0px;
  }
  .profil_replacement_img_big_edit {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-picture {
    top: -13vh;
  }
  .contacts-list-desktop {
    height: 82vh;
  }
}

@media (max-height: 600px) {
  .contacts-list-desktop {
    height: 79vh;
  }
  .contact-details {
    height: 79vh;
  }
}

@media (max-width: 550px) {
  .go-back-to-contacts {
    margin-left: 12px;
  }
  .contact-details {
    height: 78vh;
  }

}

@media (max-height: 550px) {
  .contacts-list-desktop {
    height: 78vh;
  }
  .add-contact-left h2 {
    font-size: 28px;
  }
  .add-contact-left p,
  span {
    font-size: 14px;
  }
  .add-contact-left img {
    width: 36px;
  }
  .cancel-button-top {
    height: 6px;
  }
  .contact-details {
    height: 78vh;
  }
  .pleaseTurnOnEdge {
    display: flex;
  }
}

@media (max-width: 500px) {
  .contact_details {
    margin: 32px 0 12px 12px;
  }
  .contact_details_H2 {
    font-size: 32px;
  }
  .contact_details_span {
    font-size: 16px;
  }
  .profil_replacement_img_big {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }
  .contact_font_big {
    font-size: 24px;
  }
}

@media (max-height: 500px) {
  .profile-picture {
    top: 5vh;
  }
  .contacts-list-desktop {
    height: 77vh;
  }
  .contact-details {
    height: 77vh;
  }
}

@media (max-height: 470px) {
  .contacts-list-desktop {
    height: 75vh;
  }
  .contact-details {
    height: 76vh;
  }
  .sidebar {
    height: 112vh!important;
  }
}


@media (max-height: 430px) {
  .contact-details {
    height: 75vh;
  }

}

@media (max-width: 400px) {
  .contact_details_span {
    font-size: 14px;
  }
  .contact_details_H2 {
    font-size: 28px;
  }
}

@media (max-height: 400px) {
  .contacts-list-desktop {
    height: 74vh;
  }
  .contact-details {
    height: 74vh;
  }
}

@media (max-height: 374px) {
  .contacts-list-desktop {
    height: 72vh;
  }
  .contact-details {
    height: 73vh;
  }
}

@media (max-width: 360px) {
  .contacts-list-desktop {
    min-width: 300px;
  }
  .contact_details_H2 {
    font-size: 18px;
  }
}

@media (max-height: 330px) {
  .contacts-list-desktop {
    height: 70vh;
  }
}
