.addTask-link-color{
    background-color:
    #091931;
    border-radius: 16px;
  }
  .addTask-link-color .icons_sidebar{
    fill:white;
  }
  .form-style{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:16px;
    gap:20px;
  }
  .form-style-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:16px;
    gap:20px;
  }
  /* Add some basic styling for the dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 10px 16px;
    width:90px;
    text-decoration: none;
    display: block;
     background-color: #c6cbcf;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-assigned-to{
    height:10px;
    width:80%;
    background-color: antiquewhite;
  }