
@media (max-width: 1020px) {
  .form-left {
    width: 377px;
  }
  .form-right {
    width: 377px;
  }
}

@media (max-height: 850px){
  .form-style {
    height: 70vh;
  }
  .clear-button, .create-button {
    font-size: 18px;
    padding: 2vh;
  }
}

@media (max-width: 950px) {
  .form-style-top {
    flex-direction: column;
  }
  .subtask-add-button {
    height: 48px;
  }
  .content {
    padding-left: 0;
    justify-content: center;
    padding-top: 42px;
  }
  .cancel-submit-buttons {
    justify-content: center;
  }
  .form-style {
    height: 73vh;
  }
  .form-left {
    width: 377px
  }
}

@media (max-height: 700px){
  .clear-button, .create-button {
    font-size: 18px;
    padding: 2vh;
  }
  .content {
    height: 78vh;
  }
}

@media (max-height: 670px) {
  .form-style {
    height: 72vh;
  }
}

@media (max-height: 650px) {
  .form-style {
    height: 71vh;
  }
}

@media (max-height: 600px){
  .form-style h1 {
    font-size: 32px;
  }
  .form-style {
    height: 66vh;
  }
  .clear-button, .create-button {
    font-size: 18px;
    padding: 2vh;
  }
}

@media (max-height: 500px){
  .form-style {
    height: 61vh;
  }
  .content {
    height: 76vh;
  }
  .content {
    height: 74vh;
  }
}

@media (max-width: 470px) {
  .form-style {
    padding: 0;
  }
  .form-style h1{
    font-size: 40px;
  }
  .task-title input {
    width: 250px;
  }
  .description-title textarea {
    width: 250px;
  }
  .prio-content a {
    font-size: 12px;
    padding: 0 !important;
    width: 250px;
  }
  .prio-content {
    gap: 10px;
    flex-wrap: wrap;
    min-width: 270px;
  }
  .prio-content-parent {
    width: 250px;
  }
  .assigned-to-input-and-button {
    width: 250px;
  }
  .subtask-container {
    width: 250px;
  }
  .clear-button, .create-button {
    font-size: 16px;
    padding: 4px;
  }
  .due-date {
    width: 250px;
  }
  .form-left {
    width: 250px;
  }
  .form-right {
    width: 250px;
  }
}

@media (max-height: 400px){
  .content {
    padding: 0;
    height: 70vh;
  }
  .clear-button, .create-button {
    font-size: 16px;
    padding: 4px;
  }
  .form-style {
    height: 70vh;
  }
}
