* {
  box-sizing: border-box;
margin: 0;
}


.addTask-link-color{
    background-color:
    #091931;
    border-radius: 16px;
  }
  .addTask-link-color .icons_sidebar{
    fill:white;
  }
  .form-style{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:16px;
    gap:20px;
  }
  .form-style-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding:16px;
    gap:15vW;
  }
  /* Add some basic styling for the dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 10px 16px;
    width:90px;
    text-decoration: none;
    display: block;
     background-color: #c6cbcf;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-assigned-to{
    height:10px;
    width:80%;
    background-color: antiquewhite;
  }
  .assigned-person-initials{
    border:25px;
    width:40px;
    height:40px;
    background-color: blue;
    color:white;
  }
  
  .add-subtask-button:hover{
    background-color: #c6cbcf;
    cursor: pointer;
  }
  .prio-content a{
    text-decoration: none;
    color:black;
    height: 56px;
    padding: 16px 10px 16px 10px;
    gap: 8px;
    border-radius: 10px;
    opacity: 0px;
    background-color: white;
  }
  .prio-content-parent{
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:24px;
  }
  .form-right{
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:16px;
  }
  .form-left{
    display:flex;
    flex-direction: column;
    gap:16px;
  }
  .task-title{
    display:flex;
    justify-content: center;
    flex-direction: column;
  }

  

  .task-title input{
    border-radius: 10px;
    padding: 12px 21px;
    border: 1px solid #D1D1D1;
    font-family: inherit;
    font-size: 20px;
    height: 48px;
    cursor: pointer;
    width: min(440px, 100%);
  }
  .description-title{
    display:flex;
    justify-content: center;
    flex-direction: column;
  }
  .description-title label{
    font-size: 20px;
  }
  .description-title textarea{
    padding: 16px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-family: inherit;
    font-size: 20px;
    cursor: pointer;
    width: min(440px, 100%);
    resize: none;
  }

  .assign-to input {
    border: unset;
    width: 100%;
    height: 100%;
  }
  
  .assigned-to-input-and-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    border: unset;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-color: #fff;
    font-size: 20px;
  }
  .assign-contacts-list{
    overflow-y: scroll;
    height:20vh;
    width:100%;
  }
  .one-person-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .dropdown-categories{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    width:100%;
    
  }
  .dropdown-categories a{
    text-decoration: none;
    color:black;
    padding:16px;
  }
  .oneSubtask{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .show-assigned-persons-initials{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:4px;
  }
  .selected-person-initals-div{
    padding:4px;
    border:solid 1px black;
    background-color: rgb(168, 100, 11);
    color:white;
    border-radius: 100%;
  }

  .due-date{
    display:flex;
    justify-content: center;
    flex-direction: column;
  }

  .content label{
    font-size: 20px;
  }

  .due-date input {
    border-radius: 10px;
    padding: 12px 21px;
    border: 1px solid #D1D1D1;
    font-family: inherit;
    font-size: 20px;
    height: 48px;
    cursor: pointer;
    width: min(440px, 100%);
  }

  .prio-content-parent {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .prio-content {
    display: flex;
    gap: 16px;
    width: min(440px, 100%);
  }

.subtask-container{
  display: flex;
  justify-content: space-between;
  
  width: 100%;
  height: 100%;
}

.subtask-input{
  width: 100%;
  height: 48px;
  border: unset;
  border-radius: 10px 0 0 10px;
  border: 1px solid #D1D1D1;
  border-right: 0;

}

.subtask-add-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding: 0 16px;
  border: 1px solid #D1D1D1;
  border-radius: 0 10px 10px 0;
  border-left: 0;
}

