@media (max-width: 1170px) {
  .form-style-top {
    gap: 10vw;
  }
}

@media (max-width: 1100px) {
  .form-style-top {
    gap: 5vw;
  }
}

@media (max-height: 900px){
  .clear-button, .create-button {
    font-size: 18px;
    padding: 2vh;
  }
}

@media (max-height: 850px){
  .form-style {
    height:60vh;
  }
  .clear-button, .create-button {
    font-size: 18px;
    padding: 2vh;
  }
}

@media (max-width: 800px) {
  .form-style {
    height: 73vh;
  }
}

@media (max-width: 770px) {
  .form-style-top {
    flex-direction: column;
  }
  .subtask-add-button {
    height: 48px;
  }
  .content {
    padding-left: 0;
    justify-content: center;
    padding-top: 42px;
  }
  .cancel-submit-buttons {
    justify-content: center;
  }
  .form-style {
    height: 73vh;
  }
  .subtask-container{
    height:auto;
  }
}

@media (max-height: 700px){
  .clear-button, .create-button {
    font-size: 18px;
    padding: 2vh;
  }
}

@media (max-height: 670px) {
  .form-style {
    height: 72vh;
  }
}

@media (max-height: 650px) {
  .form-style {
    height: 71vh;
  }
}

@media (max-height: 600px){
  .form-style h1 {
    font-size: 32px;
  }
  .form-style {
    height: 66vh;
  }
  .clear-button, .create-button {
    font-size: 18px;
    padding: 2vh;
  }
}

@media (max-height: 500px){
  .form-style {
    height: 61vh;
  }
}

@media (max-width: 450px) {
  .form-style {
    padding: 0;
  }
  .task-title input {
    width: 250px;
  }
  .description-title textarea {
    width: 250px;
  }
  .due-date input {
    width: 250px;
  }
  .due-date input {
    min-width: 250px;
  }
  .prio-content a {
    font-size: 12px;
    padding: 0 !important;
    width: 250px;
  }
  .prio-content {
    gap: 10px;
    flex-wrap: wrap;
    min-width: 270px;
  }
  .prio-content-parent {
    width: 250px;
  }
  .assigned-to-input-and-button {
    width: 250px;
  }
  .subtask-container {
    width: 250px;
  }
  .clear-button, .create-button {
    font-size: 16px;
    padding: 4px;
  }
}

@media (max-height: 400px){
  .content {
    padding: 0;
  }
  .clear-button, .create-button {
    font-size: 16px;
    padding: 4px;
  }
  .form-style {
    height: 70vh;
  }
}
