* {
  box-sizing: border-box;
  margin: 0;
}

.addTask-link-color {
  background-color: #091931;
  border-radius: 16px;
}
.addTask-link-color .icons_sidebar {
  fill: white;
}

.form-style {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  gap: 20px;
}

.form-style-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  gap: 16vw;
}

.form-style h1 {
  font-size: 61px;
  padding-left: 16px;
}

.headline {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

/* Add some basic styling for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  width: 90px;
  text-decoration: none;
  display: block;
  background-color: #c6cbcf;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-assigned-to {
  height: 10px;
  width: 80%;
  background-color: antiquewhite;
}

.assigned-person-initials {
  border: 25px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin: 3px 6px 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 2px #000000c4;
}

.assigen_checkbox {
  margin-left: 8px;
}

.add-subtask-button:hover {
  background-color: #c6cbcf;
  cursor: pointer;
}

.prio-content {
  display: flex;
  gap: 16px;
  min-width: 440px;
  width: 100%;
}

.prio-content a {
  text-decoration: none;
  color: black;
  height: 56px;
  width: 100%;
  padding: 16px 10px 16px 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.prio-content-parent {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}

.form-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.form-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.task-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.task-title input {
  border-radius: 10px;
  padding: 12px 21px;
  border: 1px solid #d1d1d1;
  font-family: inherit;
  font-size: 20px;
  height: 48px;
  cursor: pointer;
  width: min(440px, 100%);
}

.description-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.description-title label {
  font-size: 20px;
}

.description-title textarea {
  padding: 16px;
  height: 120px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  width: min(440px, 100%);
  resize: none;
}

.assigned-to-input-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  border: unset;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: #fff;
  font-size: 20px;
  margin-top: 4px;
}

.assign-to-input,
.categoryInput {
  border: none;
  padding-bottom: 8px;
}

.assign-contacts-list {
  overflow-y: scroll;
  height: 20vh;
  width: 100%;
}

.one-person-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.dropdownCategories {
  position: absolute;
}

.dropdown-categories {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
}

.dropdown-categories a {
  text-decoration: none;
  color: black;
  padding: 16px;
  width: 25vh;
}

.dropdown-categories a:hover {
  background-color: #e0e0e0;
}

.oneSubtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.oneSubtask:hover {
  background-color: #e0e0e0;
}

.show-assigned-persons-initials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.selected-person-initals-div {
  padding: 4px;
  border: solid 1px black;
  background-color: rgb(168, 100, 11);
  color: white;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 2px #000000c4;
}

.due-date {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content label {
  font-size: 20px;
}

.due-date input {
  border-radius: 10px;
  padding: 12px 21px;
  border: 1px solid #d1d1d1;
  font-family: inherit;
  font-size: 20px;
  height: 48px;
  cursor: pointer;
  width: min(440px, 100%);
  margin-top: 4px;
}

.subtask-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.subtask-input {
  width: 100%;
  height: 48px;
  border: unset;
  border-radius: 10px 0 0 10px;
  border: 1px solid #d1d1d1;
  border-right: 0;
  margin-top: 4px;
  font-size: 16px;
}

.subtask-add-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding: 0 16px;
  border: 1px solid #d1d1d1;
  border-radius: 0 10px 10px 0;
  border-left: 0;
  margin-top: 4px;
}

.cancel-submit-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
  padding-right: 16px;
}

.clear-button,
.create-button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  border-radius: 10px;
  padding: 16px;
}

.create-button {
  background-color: #2a3647;
  color: white;
}

.clear-button {
  background-color: white;
}

.content {
  display: flex;
  padding-left: 48px;
  padding-top: 64px;
}
.editAndTrash {
  display: flex;
  align-items: center;
}

.urgentPrio {
  background-color: white;
  color: black;
  fill: #ff3d00;
}

.urgentPrio:hover {
  box-shadow:  0px 3px 3px 1px #00000061;
}

.urgentPrio_click {
  background-color: #ff3d00 !important;
  color: white !important;
  fill: white;
  stroke: white;
}

.svgUrgentPrio {
  color: rgb(255, 255, 255);
}

.mediumPrio {
  background-color: white;
  color: black;
  fill: #ffa800;
  stroke: #ffa800;
}

.mediumPrio:hover {
  box-shadow:  0px 3px 3px 1px #00000061;
}


.mediumPrio_click {
  background-color: #ffa800 !important;
  color: white !important;
  fill: white;
  stroke: white;
}

.svgMediumPrio {
  color: rgb(255, 255, 255);
}

.lowPrio {
  background-color: white;
  color: black;
  fill: #7ae229;
}

.lowPrio:hover {
  box-shadow:  0px 3px 3px 1px #00000061;
}

.lowPrio_click {
  background-color: #7ae229 !important; 
  color: white !important; 
  fill: white;
  stroke: white;
}

.svgLowPrio {
  color: rgb(255, 255, 255);
}
