@media (max-width: 1300px) {
    .user_name{
        display: none;
    }
    .welcome_user{
        display: none;
    }
    .summary_content{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }


  @media (max-width: 858px){
    .user_name{
        font-size: 0px;
    }
    .welcome_user{
        display: none;
    }

  }

  @media (max-width: 768px){

    .summary_header{
        justify-content: center;
    }

    .summary_borad{
        justify-content: center;
    }

    .summary_content{
        padding-left: 24px;
        padding-top: 32px;
    }


  }

  @media (max-width: 675px){
    .summary_header_dividing_line{
        display:none;
    }

    .summary_prio {
        background-color: white;
        width: 264px;
        height: 168px;
        border-radius: 30px;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 0px;
        margin-left: 12px;
        margin-right: 0px;
        margin-bottom: 24px;
      }
      
      .summary_part_bottom{
        width: 264px;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 24px;
      }

      .summary_part_top{
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 24px;
      }


    .summary_header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        padding-top: 32px;
    }

    .keyMetrics{
        display: inline;
    }

    .highlighted {
        text-underline-offset: 8px;
        text-decoration: underline; /* Underline the text */
        text-decoration-color: #29abe2 ;
    }

    .normal {
        text-decoration: none; /* Remove underline */
    }

    .summary_larger_part{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  }

  @media (min-width: 674px){

    .summary_header_dividing_line{
        display:block;
    }





  }




